@page "/productos"
@attribute [Authorize (Policy = "ProductRead")]
@using Pharmatic.DTOs;
@using Pharmatic.Services;
@layout MainLayout
@inject ProductService _productService
@inject NavigationManager _navigationManager
@inject SharedData _data

<MudPaper Class="mx-2" Style="height:100%; overflow-y:auto; overflow-x: hidden; background-color:white;">
    <MudAppBar Elevation="0" Fixed="false" Style="border-radius: 15px; position: sticky; top: 0;" Dense="true">
        <MudTextField @bind-Value="@search_text" Placeholder="Buscar" Variant="Variant.Outlined" Adornment="Adornment.Start"
                      AdornmentIcon="@CustomIcons.Search" Margin="Margin.Dense" />

        <MudSpacer />

        <AuthorizeView Policy="ProductWrite">
            <Authorized>
                <MudButton Class="rounded-pill" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Size="Size.Medium"
                           Color="Color.Primary" OnClick="AgregarClicked" Style="text-transform:none">
                    Agregar
                </MudButton>
            </Authorized>
        </AuthorizeView>

        
    </MudAppBar>
    <MudGrid Class="pa-5" Spacing="4">
        @foreach (var prod in product_list)
        {
            <MudItem xl="4" lg="6" sm="6" xs="12">
                <a href="/productos/detalle/@prod.ProductNo">
                    <MudGrid Style="outline: 1px solid #E6E6E6; border-radius:24px;" Class="hover-card">
                        <MudItem xs="3">
                            <MudImage Fluid="true" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" Src="@prod.ImageUrl" Elevation="25" Class="rounded-lg ma-2" />
                        </MudItem>
                        
                        <MudItem xs="7" Class="justify-center">
                            <MudText Typo="Typo.body1" Style="font-weight:bolder;">@prod.ProductName</MudText>
                            <MudText Typo="Typo.body2">@prod.CategoryName</MudText>
                            @foreach (var tag in prod.ProductTags)
                            {
                                <MudChip Color="Color.Primary" Size="Size.Small">@tag</MudChip>
                            }
                        </MudItem>

                        <MudItem xs="2" Class="d-flex align-start gap-1">
                            <MudText Typo="Typo.body1" Style="font-weight:bolder;">@prod.LotCount</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.Inventory" Color=@(prod.LotCount > 0 ? Color.Inherit : Color.Warning) Size="Size.Medium"/>
                        </MudItem>
                    </MudGrid>
                </a>

            </MudItem>
        }
    </MudGrid>
    
</MudPaper>

@code {
    private string search_text = string.Empty;
    private List<ProductOverviewDto> product_list = new ();

    protected override async Task OnInitializedAsync()
    {
        _data.Items = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "/dashboard", icon: Icons.Material.Filled.Home),
            new BreadcrumbItem("Productos", href: null, disabled: true)
        };
        await GetProducts();
    }

    private void AgregarClicked()
    {
        _navigationManager.NavigateTo("/productos/agregar");
    }

    private async Task GetProducts()
    {
        var result = await _productService.ProductsOverview();
        product_list = result!;
    }

}
