@page "/usuarios"
@attribute [Authorize(Policy = "UserRead")]
@using Pharmatic.DTOs;
@using Pharmatic.Services;
@layout MainLayout
@inject NavigationManager _navigationManager
@inject SharedData _data
@inject ISnackbar Snackbar
@inject UserService _userService

<MudPaper Class="mx-2" Style="height:100%; overflow-y:auto; overflow-x: hidden; background-color:white;">
    <MudAppBar Elevation="0" Fixed="false" Style="border-radius: 15px; position: sticky; top: 0;" Dense="true">

        <MudSpacer />

        <AuthorizeView Policy="UserWrite">
            <Authorized>
                <MudButton Class="rounded-pill" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Size="Size.Medium"
                           Color="Color.Primary" OnClick="CrearClicked" Style="text-transform:none">
                    Crear
                </MudButton>
            </Authorized>
        </AuthorizeView>

    </MudAppBar>
    <MudGrid Class="pa-5" Spacing="4">
        @foreach (var u in user_list)
        {
            <MudItem xl="4" lg="6" sm="6" xs="12">
                <a href="/usuarios/editar/@u.username">
                    <MudGrid Style="outline: 1px solid #E6E6E6; border-radius:24px;" Class="hover-card">


                        <MudItem xs="4">
                            <MudImage Src="@u.imageUrl" Width="90" Height="90" Elevation="25" Class="rounded-lg ma-2" />
                        </MudItem>

                        <MudItem xs="8">
                            <MudText Typo="Typo.body1" Style="font-weight:bolder;">@u.username</MudText>
                            <MudText Typo="Typo.body2">@u.email</MudText>
                            <MudText Typo="Typo.body2">@u.role.roleName</MudText>
                        </MudItem>

                    </MudGrid>
                </a>

            </MudItem>
        }
    </MudGrid>

</MudPaper>

<MudDialog @bind-IsVisible="delete_visible">
    <TitleContent>
        <MudText Typo="Typo.h4">
            Desea eliminar al usuario @(current_user)?
        </MudText>
        <MudText Typo="Typo.body1">
            Estas completamente seguro, tambien eliminaras los registros que dependen de esta información.
        </MudText>
    </TitleContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="CancelDelete" Class="px-10">Cancelar</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="DeleteSubmit" Class="px-10">Eliminar</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private string search_text = string.Empty;
    private List<UserDTO> user_list = new List<UserDTO>();
    private bool delete_visible = false;
    private string current_user = string.Empty;
    private int id_user_delete = -1;

    private void OpenDeleteDialog(string n, int id)
    {
        delete_visible = true;
        current_user = n;
        id_user_delete = id;
    }

    private void CancelDelete() => delete_visible = false;

    private async Task DeleteSubmit()
    {
        //var response = await _providerService.DeleteProvider(id_provider_delete);
        delete_visible = false;

        //await GetProviders();

       // if (response) Snackbar.Add("Proveedor eliminado", Severity.Info);
       // else Snackbar.Add("No se pudo eliminar al proveedor", Severity.Warning);
    }

    protected override async Task OnInitializedAsync()
    {
        _data.Items = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "/dashboard", icon: Icons.Material.Filled.Home),
            new BreadcrumbItem("Usuarios", href: null, disabled: true)
        };

        await GetUsers();

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
    }

    private async Task GetUsers()
    {
        var result = await _userService.UserList();
        user_list = result!;
    }

    private void CrearClicked() => _navigationManager.NavigateTo("/usuarios/crear");

}
